<h1>List of all Users</h1>

<p>
<%= link_to "Create new article", new_article_path %>
</p>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @articles.each do |myarticle| %>
  <tr>
    <td><%= myarticle.title %></td>
    <td><%= myarticle.description %></td>
    <td><%= link_to 'Show', article_path(myarticle) %></td>
    <td><%= link_to 'Edit', edit_article_path(myarticle) %></td>
    <td><%= link_to 'Delete', article_path(myarticle), method: :delete, data: {confirm: "Are you sure?" } %></td>

  </tr>

  <% end %>
</table>
